-- ============================================================================
-- Migration 003: updated_at triggers and published_at automation
-- ============================================================================

CREATE OR REPLACE FUNCTION set_updated_at()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;

CREATE OR REPLACE FUNCTION set_published_at()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  IF NEW.status = 'published' AND (TG_OP = 'INSERT' OR OLD.status IS DISTINCT FROM 'published') THEN
    NEW.published_at = COALESCE(NEW.published_at, now());
  END IF;
  IF NEW.status = 'draft' AND TG_OP = 'UPDATE' AND OLD.status = 'published' THEN
    NEW.published_at = NULL;
  END IF;
  RETURN NEW;
END;
$$;

-- admin_users
CREATE TRIGGER admin_users_set_updated_at
  BEFORE UPDATE ON admin_users
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

-- Singleton tables
CREATE TRIGGER site_settings_set_updated_at
  BEFORE UPDATE ON site_settings
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

CREATE TRIGGER site_settings_set_published_at
  BEFORE INSERT OR UPDATE ON site_settings
  FOR EACH ROW EXECUTE FUNCTION set_published_at();

CREATE TRIGGER hero_set_updated_at
  BEFORE UPDATE ON hero
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

CREATE TRIGGER hero_set_published_at
  BEFORE INSERT OR UPDATE ON hero
  FOR EACH ROW EXECUTE FUNCTION set_published_at();

CREATE TRIGGER about_set_updated_at
  BEFORE UPDATE ON about
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

CREATE TRIGGER about_set_published_at
  BEFORE INSERT OR UPDATE ON about
  FOR EACH ROW EXECUTE FUNCTION set_published_at();

CREATE TRIGGER admissions_set_updated_at
  BEFORE UPDATE ON admissions
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

CREATE TRIGGER admissions_set_published_at
  BEFORE INSERT OR UPDATE ON admissions
  FOR EACH ROW EXECUTE FUNCTION set_published_at();

CREATE TRIGGER contact_set_updated_at
  BEFORE UPDATE ON contact
  FOR EACH ROW EXECUTE FUNCTION set_updated_at();

CREATE TRIGGER contact_set_published_at
  BEFORE INSERT OR UPDATE ON contact
  FOR EACH ROW EXECUTE FUNCTION set_published_at();

-- List tables
DO $$
DECLARE
  t TEXT;
BEGIN
  FOREACH t IN ARRAY ARRAY[
    'features', 'programmes', 'facilities', 'staff', 'gallery',
    'testimonials', 'faq', 'journey', 'careers'
  ]
  LOOP
    EXECUTE format(
      'CREATE TRIGGER %I_set_updated_at BEFORE UPDATE ON %I FOR EACH ROW EXECUTE FUNCTION set_updated_at()',
      t, t
    );
    EXECUTE format(
      'CREATE TRIGGER %I_set_published_at BEFORE INSERT OR UPDATE ON %I FOR EACH ROW EXECUTE FUNCTION set_published_at()',
      t, t
    );
  END LOOP;
END;
$$;
