-- ============================================================================
-- Migration 006: Storage bucket and policies for website-assets
-- ============================================================================

INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
  'website-assets',
  'website-assets',
  true,
  5242880, -- 5 MB
  ARRAY['image/jpeg', 'image/png', 'image/webp', 'image/svg+xml']
)
ON CONFLICT (id) DO UPDATE SET
  public = EXCLUDED.public,
  file_size_limit = EXCLUDED.file_size_limit,
  allowed_mime_types = EXCLUDED.allowed_mime_types;

-- ---------------------------------------------------------------------------
-- Public read access for all website assets
-- ---------------------------------------------------------------------------
CREATE POLICY "website_assets_public_read"
  ON storage.objects FOR SELECT
  TO anon, authenticated
  USING (bucket_id = 'website-assets');

-- ---------------------------------------------------------------------------
-- Admins may upload new assets
-- ---------------------------------------------------------------------------
CREATE POLICY "website_assets_admin_insert"
  ON storage.objects FOR INSERT
  TO authenticated
  WITH CHECK (
    bucket_id = 'website-assets'
    AND is_admin()
    AND (storage.foldername(name))[1] IN (
      'branding', 'hero', 'about', 'admissions',
      'programmes', 'facilities', 'staff', 'gallery'
    )
  );

-- ---------------------------------------------------------------------------
-- Admins may update (replace) existing assets
-- ---------------------------------------------------------------------------
CREATE POLICY "website_assets_admin_update"
  ON storage.objects FOR UPDATE
  TO authenticated
  USING (bucket_id = 'website-assets' AND is_admin())
  WITH CHECK (bucket_id = 'website-assets' AND is_admin());

-- ---------------------------------------------------------------------------
-- Admins may delete assets
-- ---------------------------------------------------------------------------
CREATE POLICY "website_assets_admin_delete"
  ON storage.objects FOR DELETE
  TO authenticated
  USING (bucket_id = 'website-assets' AND is_admin());
