-- ============================================================================
-- Good Morning Electrical Engineering Academy
-- Migration 001: Extensions and enums
-- ============================================================================

CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- Content publication state
CREATE TYPE content_status AS ENUM ('draft', 'published');

-- Admin role hierarchy
CREATE TYPE admin_role AS ENUM ('superadmin', 'editor');

-- Audit action types for activity_log
CREATE TYPE audit_action AS ENUM (
  'created',
  'updated',
  'published',
  'unpublished',
  'deleted',
  'uploaded',
  'restored'
);
