-- ============================================================================
-- Migration 005: Row Level Security policies for all tables
-- Public: read published content only
-- Admins: full CRUD via is_admin()
-- admin_users: whitelist enforcement
-- activity_log: admins read + insert only (no update/delete)
-- ============================================================================

-- ---------------------------------------------------------------------------
-- admin_users
-- ---------------------------------------------------------------------------
ALTER TABLE admin_users ENABLE ROW LEVEL SECURITY;

-- Authenticated users may read their own whitelist row (login verification)
CREATE POLICY "admin_users_select_own"
  ON admin_users FOR SELECT
  TO authenticated
  USING (id = auth.uid());

-- Superadmins may read all admin users
CREATE POLICY "admin_users_select_superadmin"
  ON admin_users FOR SELECT
  TO authenticated
  USING (is_superadmin());

-- Superadmins may insert new admins
CREATE POLICY "admin_users_insert_superadmin"
  ON admin_users FOR INSERT
  TO authenticated
  WITH CHECK (is_superadmin());

-- Superadmins may update admin users
CREATE POLICY "admin_users_update_superadmin"
  ON admin_users FOR UPDATE
  TO authenticated
  USING (is_superadmin())
  WITH CHECK (is_superadmin());

-- Superadmins may delete admin users (except self enforced in app)
CREATE POLICY "admin_users_delete_superadmin"
  ON admin_users FOR DELETE
  TO authenticated
  USING (is_superadmin());

-- ---------------------------------------------------------------------------
-- activity_log — append-only audit trail
-- ---------------------------------------------------------------------------
ALTER TABLE activity_log ENABLE ROW LEVEL SECURITY;

CREATE POLICY "activity_log_select_admin"
  ON activity_log FOR SELECT
  TO authenticated
  USING (is_admin());

CREATE POLICY "activity_log_insert_admin"
  ON activity_log FOR INSERT
  TO authenticated
  WITH CHECK (is_admin() AND user_id = auth.uid());

-- No UPDATE or DELETE policies — audit log is immutable

-- ---------------------------------------------------------------------------
-- Macro: content table policies (singleton + list)
-- ---------------------------------------------------------------------------

-- ======================== site_settings ========================
ALTER TABLE site_settings ENABLE ROW LEVEL SECURITY;

CREATE POLICY "site_settings_public_select"
  ON site_settings FOR SELECT
  TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "site_settings_admin_select"
  ON site_settings FOR SELECT
  TO authenticated
  USING (is_admin());

CREATE POLICY "site_settings_admin_insert"
  ON site_settings FOR INSERT
  TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "site_settings_admin_update"
  ON site_settings FOR UPDATE
  TO authenticated
  USING (is_admin())
  WITH CHECK (is_admin());

CREATE POLICY "site_settings_admin_delete"
  ON site_settings FOR DELETE
  TO authenticated
  USING (is_admin());

-- ======================== hero ========================
ALTER TABLE hero ENABLE ROW LEVEL SECURITY;

CREATE POLICY "hero_public_select"
  ON hero FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "hero_admin_select"
  ON hero FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "hero_admin_insert"
  ON hero FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "hero_admin_update"
  ON hero FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "hero_admin_delete"
  ON hero FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== about ========================
ALTER TABLE about ENABLE ROW LEVEL SECURITY;

CREATE POLICY "about_public_select"
  ON about FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "about_admin_select"
  ON about FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "about_admin_insert"
  ON about FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "about_admin_update"
  ON about FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "about_admin_delete"
  ON about FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== admissions ========================
ALTER TABLE admissions ENABLE ROW LEVEL SECURITY;

CREATE POLICY "admissions_public_select"
  ON admissions FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "admissions_admin_select"
  ON admissions FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "admissions_admin_insert"
  ON admissions FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "admissions_admin_update"
  ON admissions FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "admissions_admin_delete"
  ON admissions FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== contact ========================
ALTER TABLE contact ENABLE ROW LEVEL SECURITY;

CREATE POLICY "contact_public_select"
  ON contact FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "contact_admin_select"
  ON contact FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "contact_admin_insert"
  ON contact FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "contact_admin_update"
  ON contact FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "contact_admin_delete"
  ON contact FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== features ========================
ALTER TABLE features ENABLE ROW LEVEL SECURITY;

CREATE POLICY "features_public_select"
  ON features FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "features_admin_select"
  ON features FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "features_admin_insert"
  ON features FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "features_admin_update"
  ON features FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "features_admin_delete"
  ON features FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== programmes ========================
ALTER TABLE programmes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "programmes_public_select"
  ON programmes FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "programmes_admin_select"
  ON programmes FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "programmes_admin_insert"
  ON programmes FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "programmes_admin_update"
  ON programmes FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "programmes_admin_delete"
  ON programmes FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== facilities ========================
ALTER TABLE facilities ENABLE ROW LEVEL SECURITY;

CREATE POLICY "facilities_public_select"
  ON facilities FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "facilities_admin_select"
  ON facilities FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "facilities_admin_insert"
  ON facilities FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "facilities_admin_update"
  ON facilities FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "facilities_admin_delete"
  ON facilities FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== staff ========================
ALTER TABLE staff ENABLE ROW LEVEL SECURITY;

CREATE POLICY "staff_public_select"
  ON staff FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "staff_admin_select"
  ON staff FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "staff_admin_insert"
  ON staff FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "staff_admin_update"
  ON staff FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "staff_admin_delete"
  ON staff FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== gallery ========================
ALTER TABLE gallery ENABLE ROW LEVEL SECURITY;

CREATE POLICY "gallery_public_select"
  ON gallery FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "gallery_admin_select"
  ON gallery FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "gallery_admin_insert"
  ON gallery FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "gallery_admin_update"
  ON gallery FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "gallery_admin_delete"
  ON gallery FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== testimonials ========================
ALTER TABLE testimonials ENABLE ROW LEVEL SECURITY;

CREATE POLICY "testimonials_public_select"
  ON testimonials FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "testimonials_admin_select"
  ON testimonials FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "testimonials_admin_insert"
  ON testimonials FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "testimonials_admin_update"
  ON testimonials FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "testimonials_admin_delete"
  ON testimonials FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== faq ========================
ALTER TABLE faq ENABLE ROW LEVEL SECURITY;

CREATE POLICY "faq_public_select"
  ON faq FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "faq_admin_select"
  ON faq FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "faq_admin_insert"
  ON faq FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "faq_admin_update"
  ON faq FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "faq_admin_delete"
  ON faq FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== journey ========================
ALTER TABLE journey ENABLE ROW LEVEL SECURITY;

CREATE POLICY "journey_public_select"
  ON journey FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "journey_admin_select"
  ON journey FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "journey_admin_insert"
  ON journey FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "journey_admin_update"
  ON journey FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "journey_admin_delete"
  ON journey FOR DELETE TO authenticated
  USING (is_admin());

-- ======================== careers ========================
ALTER TABLE careers ENABLE ROW LEVEL SECURITY;

CREATE POLICY "careers_public_select"
  ON careers FOR SELECT TO anon, authenticated
  USING (status = 'published');

CREATE POLICY "careers_admin_select"
  ON careers FOR SELECT TO authenticated
  USING (is_admin());

CREATE POLICY "careers_admin_insert"
  ON careers FOR INSERT TO authenticated
  WITH CHECK (is_admin());

CREATE POLICY "careers_admin_update"
  ON careers FOR UPDATE TO authenticated
  USING (is_admin()) WITH CHECK (is_admin());

CREATE POLICY "careers_admin_delete"
  ON careers FOR DELETE TO authenticated
  USING (is_admin());
