-- ============================================================================
-- Migration 004: Security helper functions and public content RPC
-- ============================================================================

-- Returns true when the authenticated user is an active admin
CREATE OR REPLACE FUNCTION is_admin()
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM admin_users
    WHERE id = auth.uid()
      AND active = true
  );
$$;

COMMENT ON FUNCTION is_admin() IS 'True if auth.uid() is an active row in admin_users.';

-- Returns true when the authenticated user is an active superadmin
CREATE OR REPLACE FUNCTION is_superadmin()
RETURNS BOOLEAN
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM admin_users
    WHERE id = auth.uid()
      AND active = true
      AND role = 'superadmin'
  );
$$;

COMMENT ON FUNCTION is_superadmin() IS 'True if auth.uid() is an active superadmin.';

-- Single round-trip fetch for the public website (published content only)
CREATE OR REPLACE FUNCTION get_published_site_content()
RETURNS JSONB
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT jsonb_build_object(
    'settings',
      (SELECT to_jsonb(s) FROM site_settings s WHERE s.status = 'published' LIMIT 1),
    'hero',
      (SELECT to_jsonb(h) FROM hero h WHERE h.status = 'published' LIMIT 1),
    'about',
      (SELECT to_jsonb(a) FROM about a WHERE a.status = 'published' LIMIT 1),
    'admissions',
      (SELECT to_jsonb(ad) FROM admissions ad WHERE ad.status = 'published' LIMIT 1),
    'contact',
      (SELECT to_jsonb(c) FROM contact c WHERE c.status = 'published' LIMIT 1),
    'features',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(f) ORDER BY f.sort_order)
         FROM features f WHERE f.status = 'published'),
        '[]'::jsonb
      ),
    'programmes',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(p) ORDER BY p.sort_order)
         FROM programmes p WHERE p.status = 'published'),
        '[]'::jsonb
      ),
    'facilities',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(f) ORDER BY f.sort_order)
         FROM facilities f WHERE f.status = 'published'),
        '[]'::jsonb
      ),
    'staff',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(s) ORDER BY s.sort_order)
         FROM staff s WHERE s.status = 'published'),
        '[]'::jsonb
      ),
    'gallery',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(g) ORDER BY g.sort_order)
         FROM gallery g WHERE g.status = 'published'),
        '[]'::jsonb
      ),
    'testimonials',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(t) ORDER BY t.sort_order)
         FROM testimonials t WHERE t.status = 'published'),
        '[]'::jsonb
      ),
    'faq',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(f) ORDER BY f.sort_order)
         FROM faq f WHERE f.status = 'published'),
        '[]'::jsonb
      ),
    'journey',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(j) ORDER BY j.sort_order)
         FROM journey j WHERE j.status = 'published'),
        '[]'::jsonb
      ),
    'careers',
      COALESCE(
        (SELECT jsonb_agg(to_jsonb(c) ORDER BY c.sort_order)
         FROM careers c WHERE c.status = 'published'),
        '[]'::jsonb
      ),
    'fetched_at', to_jsonb(now())
  );
$$;

COMMENT ON FUNCTION get_published_site_content() IS
  'Returns all published website content in one JSON payload for the public site.';

-- Helper for admin dashboard: verify whitelist membership by session
CREATE OR REPLACE FUNCTION get_admin_profile()
RETURNS JSONB
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT to_jsonb(au)
  FROM admin_users au
  WHERE au.id = auth.uid()
    AND au.active = true
  LIMIT 1;
$$;

COMMENT ON FUNCTION get_admin_profile() IS
  'Returns the active admin_users profile for the current session, or NULL.';

-- Append an audit log entry (called from admin app)
CREATE OR REPLACE FUNCTION write_activity_log(
  p_action audit_action,
  p_entity TEXT,
  p_entity_id UUID DEFAULT NULL,
  p_summary TEXT DEFAULT NULL,
  p_metadata JSONB DEFAULT '{}'::jsonb
)
RETURNS UUID
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_id UUID;
  v_email TEXT;
BEGIN
  IF NOT is_admin() THEN
    RAISE EXCEPTION 'Unauthorized: admin access required';
  END IF;

  SELECT email INTO v_email FROM admin_users WHERE id = auth.uid();

  INSERT INTO activity_log (user_id, user_email, action, entity, entity_id, summary, metadata)
  VALUES (auth.uid(), v_email, p_action, p_entity, p_entity_id, p_summary, COALESCE(p_metadata, '{}'::jsonb))
  RETURNING id INTO v_id;

  RETURN v_id;
END;
$$;

COMMENT ON FUNCTION write_activity_log IS
  'Inserts an audit log row. Callable only by active admins.';
