-- ============================================================================
-- Migration 002: Tables, indexes, and constraints
-- Audit-friendly design: created_at, updated_at, updated_by, published_at
-- ============================================================================

-- ---------------------------------------------------------------------------
-- admin_users — whitelist linked to Supabase Auth (auth.users)
-- ---------------------------------------------------------------------------
CREATE TABLE admin_users (
  id          UUID PRIMARY KEY REFERENCES auth.users (id) ON DELETE CASCADE,
  email       TEXT NOT NULL UNIQUE,
  full_name   TEXT,
  role        admin_role NOT NULL DEFAULT 'editor',
  active      BOOLEAN NOT NULL DEFAULT true,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

COMMENT ON TABLE admin_users IS 'Whitelist of Supabase Auth users permitted to access the admin dashboard.';

-- ---------------------------------------------------------------------------
-- activity_log — admin audit trail
-- ---------------------------------------------------------------------------
CREATE TABLE activity_log (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id     UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  user_email  TEXT,
  action      audit_action NOT NULL,
  entity      TEXT NOT NULL,
  entity_id   UUID,
  summary     TEXT,
  metadata    JSONB NOT NULL DEFAULT '{}',
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX activity_log_created_at_idx ON activity_log (created_at DESC);
CREATE INDEX activity_log_entity_idx ON activity_log (entity, entity_id);
CREATE INDEX activity_log_user_id_idx ON activity_log (user_id);

COMMENT ON TABLE activity_log IS 'Immutable audit log of admin actions for compliance and troubleshooting.';

-- ---------------------------------------------------------------------------
-- site_settings — singleton (includes footer + global SEO)
-- ---------------------------------------------------------------------------
CREATE TABLE site_settings (
  id                  UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  academy_name        TEXT NOT NULL,
  logo_line_1         TEXT NOT NULL DEFAULT 'Good Morning',
  logo_line_2         TEXT NOT NULL DEFAULT 'Electrical Engineering Academy',
  tagline             TEXT,
  established_year    TEXT DEFAULT '2015',
  logo_url            TEXT,
  favicon_url         TEXT,
  social_facebook     TEXT,
  social_instagram    TEXT,
  social_twitter      TEXT,
  social_linkedin     TEXT,
  social_youtube      TEXT,
  footer_description  TEXT,
  footer_copyright    TEXT,
  meta_title          TEXT,
  meta_description    TEXT,
  meta_keywords       TEXT,
  og_image_url        TEXT,
  status              content_status NOT NULL DEFAULT 'published',
  published_at        TIMESTAMPTZ,
  created_at          TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at          TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_by          UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX site_settings_singleton_idx ON site_settings ((true));

-- ---------------------------------------------------------------------------
-- hero — singleton (statistics stored as JSONB)
-- ---------------------------------------------------------------------------
CREATE TABLE hero (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  badge           TEXT,
  title           TEXT NOT NULL,
  subtitle        TEXT,
  highlights      JSONB NOT NULL DEFAULT '[]'::jsonb,
  panel_cta       TEXT,
  cta_primary     TEXT DEFAULT 'Enroll Today',
  cta_secondary   TEXT DEFAULT 'View Programmes',
  bg_image_url    TEXT,
  statistics      JSONB NOT NULL DEFAULT '[]'::jsonb,
  seo_title       TEXT,
  seo_description TEXT,
  status          content_status NOT NULL DEFAULT 'published',
  published_at    TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX hero_singleton_idx ON hero ((true));

-- ---------------------------------------------------------------------------
-- about — singleton
-- ---------------------------------------------------------------------------
CREATE TABLE about (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  section_label   TEXT DEFAULT 'About Us',
  title           TEXT NOT NULL,
  description     TEXT,
  lead_text       TEXT,
  paragraphs      JSONB NOT NULL DEFAULT '[]'::jsonb,
  feature_bullets JSONB NOT NULL DEFAULT '[]'::jsonb,
  image_badge     TEXT,
  image_url       TEXT,
  seo_title       TEXT,
  seo_description TEXT,
  status          content_status NOT NULL DEFAULT 'published',
  published_at    TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX about_singleton_idx ON about ((true));

-- ---------------------------------------------------------------------------
-- admissions — singleton
-- ---------------------------------------------------------------------------
CREATE TABLE admissions (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title           TEXT NOT NULL,
  body            TEXT NOT NULL,
  btn_apply_text  TEXT DEFAULT 'Apply Now',
  btn_call_text   TEXT DEFAULT 'Call Admissions',
  checklist       JSONB NOT NULL DEFAULT '[]'::jsonb,
  bg_image_url    TEXT,
  seo_title       TEXT,
  seo_description TEXT,
  status          content_status NOT NULL DEFAULT 'published',
  published_at    TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX admissions_singleton_idx ON admissions ((true));

-- ---------------------------------------------------------------------------
-- contact — singleton (phones, email, location, hours)
-- ---------------------------------------------------------------------------
CREATE TABLE contact (
  id            UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  phones        JSONB NOT NULL DEFAULT '[]'::jsonb,
  email         TEXT NOT NULL,
  whatsapp      TEXT,
  address       TEXT NOT NULL,
  gps_code      TEXT,
  office_hours  TEXT,
  status        content_status NOT NULL DEFAULT 'published',
  published_at  TIMESTAMPTZ,
  created_at    TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at    TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_by    UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX contact_singleton_idx ON contact ((true));

-- ---------------------------------------------------------------------------
-- features — Why Choose Us (list)
-- ---------------------------------------------------------------------------
CREATE TABLE features (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  icon        TEXT NOT NULL DEFAULT 'fa-star',
  title       TEXT NOT NULL,
  body        TEXT NOT NULL,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX features_sort_order_idx ON features (sort_order);
CREATE INDEX features_status_idx ON features (status);

-- ---------------------------------------------------------------------------
-- programmes (list)
-- ---------------------------------------------------------------------------
CREATE TABLE programmes (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id       TEXT,
  slug            TEXT UNIQUE,
  icon            TEXT NOT NULL DEFAULT 'fa-plug',
  title           TEXT NOT NULL,
  description     TEXT NOT NULL,
  duration        TEXT,
  certificate     TEXT,
  badge           TEXT,
  image_url       TEXT,
  careers         JSONB NOT NULL DEFAULT '[]'::jsonb,
  sort_order      INT NOT NULL DEFAULT 0,
  seo_title       TEXT,
  seo_description TEXT,
  status          content_status NOT NULL DEFAULT 'published',
  published_at    TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX programmes_sort_order_idx ON programmes (sort_order);
CREATE INDEX programmes_status_idx ON programmes (status);
CREATE INDEX programmes_slug_idx ON programmes (slug);

-- ---------------------------------------------------------------------------
-- facilities (list)
-- ---------------------------------------------------------------------------
CREATE TABLE facilities (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  icon        TEXT NOT NULL DEFAULT 'fa-toolbox',
  title       TEXT NOT NULL,
  body        TEXT NOT NULL,
  image_url   TEXT,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX facilities_sort_order_idx ON facilities (sort_order);
CREATE INDEX facilities_status_idx ON facilities (status);

-- ---------------------------------------------------------------------------
-- staff (list)
-- ---------------------------------------------------------------------------
CREATE TABLE staff (
  id              UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id       TEXT,
  full_name       TEXT NOT NULL,
  role            TEXT NOT NULL,
  qualifications  TEXT,
  bio             TEXT,
  initials        TEXT,
  photo_url       TEXT,
  sort_order      INT NOT NULL DEFAULT 0,
  status          content_status NOT NULL DEFAULT 'published',
  published_at    TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by      UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX staff_sort_order_idx ON staff (sort_order);
CREATE INDEX staff_status_idx ON staff (status);

-- ---------------------------------------------------------------------------
-- gallery (list)
-- ---------------------------------------------------------------------------
CREATE TABLE gallery (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  caption     TEXT NOT NULL,
  image_url   TEXT NOT NULL,
  alt_text    TEXT,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX gallery_sort_order_idx ON gallery (sort_order);
CREATE INDEX gallery_status_idx ON gallery (status);

-- ---------------------------------------------------------------------------
-- testimonials (list)
-- ---------------------------------------------------------------------------
CREATE TABLE testimonials (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  author_name TEXT NOT NULL,
  initials    TEXT NOT NULL,
  programme   TEXT,
  quote       TEXT NOT NULL,
  stars       INT NOT NULL DEFAULT 5 CHECK (stars BETWEEN 1 AND 5),
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX testimonials_sort_order_idx ON testimonials (sort_order);
CREATE INDEX testimonials_status_idx ON testimonials (status);

-- ---------------------------------------------------------------------------
-- faq (list)
-- ---------------------------------------------------------------------------
CREATE TABLE faq (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  question    TEXT NOT NULL,
  answer      TEXT NOT NULL,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX faq_sort_order_idx ON faq (sort_order);
CREATE INDEX faq_status_idx ON faq (status);

-- ---------------------------------------------------------------------------
-- journey (list)
-- ---------------------------------------------------------------------------
CREATE TABLE journey (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  step_label  TEXT NOT NULL,
  icon        TEXT NOT NULL DEFAULT 'fa-circle',
  title       TEXT NOT NULL,
  body        TEXT NOT NULL,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX journey_sort_order_idx ON journey (sort_order);
CREATE INDEX journey_status_idx ON journey (status);

-- ---------------------------------------------------------------------------
-- careers (list)
-- ---------------------------------------------------------------------------
CREATE TABLE careers (
  id          UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  legacy_id   TEXT,
  icon        TEXT NOT NULL DEFAULT 'fa-bolt',
  title       TEXT NOT NULL,
  body        TEXT NOT NULL,
  sort_order  INT NOT NULL DEFAULT 0,
  status      content_status NOT NULL DEFAULT 'published',
  published_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL,
  updated_by  UUID REFERENCES auth.users (id) ON DELETE SET NULL
);

CREATE INDEX careers_sort_order_idx ON careers (sort_order);
CREATE INDEX careers_status_idx ON careers (status);
